@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

:root {
  --main-color: #3fea06; /* #41ff00; */
}

body {
  background: #282828;
  margin: 0;
  font: 32px 'VT323', monospace;
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
